*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

:root {
  --main-bg-100: hsl(30, 54%, 90%);
  --main-bg-200: hsl(30, 18%, 87%);
  --main-bg-300: hsl(30, 10%, 34%);
  --main-bg-400: hsl(24, 5%, 18%);
  --primary: hsl(14, 45%, 36%);
  --secondary: hsl(332, 51%, 32%);
  --secondary-light: hsl(330, 100%, 98%);
}

body {
  background-color: var(--main-bg-100);
}

.margin-top {
  margin-top: 1rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.radius-10 {
  border-radius: 10px;
}

.radius-20 {
  border-radius: 20px;
}

.container {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 20px;
  margin-inline: auto;
  max-width: 960px;
}

.header-text {
  color: var(--main-bg-400);
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.prep-time h3 {
  color: var(--secondary);
  font-weight: 700;
  margin-bottom: 1rem;
}

.prep-time ul {
  line-height: 1.5;
}

.prep-time {
  background-color: var(--secondary-light);
}
